/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */


.boton_el_ella {
    display: flex;
    align-items: center;
}

.para_el_ella {
    /* width: 56.2px; */
    /* height: 16.1px; */
    font-family: MuseoSans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    width: 155.2px;
    height: 41px;
    border-radius: 39px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
    background-image: linear-gradient(to bottom, #f4f0f2, #b5b5b5) !important;
    display: flex;
    align-items: center;
    /* padding: .5rem; */
    justify-content: center;
}

.femenine {
    width: 22.2px;
    height: 33.4px;
    object-fit: contain;
    margin-right: 1rem;
}

.masculine {
    width: 29.1px;
    height: 29.1px;
    object-fit: contain;
    margin-right: 1rem;

}

.botons-men {
    display: flex;
    align-items: center;
    margin: 0 .25rem;
}

.botons-men a {
    border: none;
}

.product-flag {
    margin-left: 10%;

    margin-top: 20px !important;
}

.iqitreviews-simple {
    font-size: 1.7rem !important;
    padding: 10px;
}

.iqit-review-star {
    padding-right: 5px;
    padding-top: 10px;
}

.product-flag {
    font-size: 1rem;
}

.search-widget {
    max-width: 100% !important;
}

.title {
    display: block;
}

.img-help {
    width: 36.7px;
    height: 35.2px;
}

.img-cart {
    width: 26.2px;
    height: 26.2px;
}

.cart-btns {
    width: 242px;
    height: 12px;
    font-family: MuseoSans;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}